In [35]:
import numpy as np
import pandas as pd

In [36]:
df = pd.read_csv("C:/Users/asus/Desktop/ITWorkshop/MainCode/kerala.csv")

In [37]:
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [38]:
df = df.drop(['SUBDIVISION','YEAR'],axis=1)

In [39]:
df.columns = [x.lower() for x in df.columns]

In [40]:
df.rename(columns={' annual rainfall':'annual rainfall'}, inplace=True)

In [41]:
df['floods'] = [1 if x=='YES' else 0 for x in df['floods']]

In [42]:
df = df.sort_values(by='floods').reset_index()

In [43]:
df[df['floods']==1].head()

,index,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual rainfall,floods
58,106,0.5,5.6,7.3,138.5,192.7,705.9,966.3,489.6,526.7,357.2,87.4,11.9,3489.6,1
59,96,2.1,1.5,36.1,60.6,133.6,544.2,970.5,536.0,292.2,288.9,298.4,88.4,3252.4,1
60,97,6.0,2.1,8.1,61.1,151.6,732.5,641.4,371.8,517.6,444.8,135.0,79.4,3151.5,1
61,113,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,1
62,76,1.1,15.7,28.3,102.3,306.4,599.6,753.3,234.2,201.3,437.0,361.7,6.7,3047.6,1

In [44]:
def class_separation(df):
    df=df.sort_values(by='floods').reset_index()
    df_zeros = df.iloc[0:58]
    df_zeros = df_zeros.drop('index',axis=1)
    df_ones = df.iloc[58:]
    df_ones = df_ones.drop('index',axis=1)
    seps = {0:df_zeros, 1:df_ones}
    return seps

In [45]:
seps = class_separation(df)

In [46]:
seps

{0:     level_0   jan   feb    mar    apr    may    jun     jul    aug    sep  \
 0         0   6.5  21.2   58.7  175.5  137.1  485.6   970.5  281.2  139.8
 1        31   0.2   1.5    0.9   13.1   76.0  322.8   583.2  579.9  421.1
 2        32  23.9   8.3   18.1  120.7   56.6  431.3   687.3  280.9  283.3
 3        33   1.6   5.4   16.0  128.0  221.5  266.9  1004.2  533.6  383.6
 4        34   2.8   9.1   14.4  124.3   74.3  572.4   696.0  327.4  342.7
 5        35   2.4   3.8   35.9  143.0  186.4  522.2   412.3  325.5  173.2
 6        36   3.1   5.8   50.1  214.1  201.8  563.6   406.0  252.2  292.9
 7        37   1.2  22.3    9.4  105.9  263.3  850.2   520.5  293.6  217.2
 8        38  26.7   7.4    9.9   59.4  160.8  414.9   954.2  442.8  131.2
 9        39   8.0  20.8   38.2  102.9  142.6  592.6   902.2  352.9  175.9
 10       40   7.4  11.0   21.0  171.1   95.3  430.3   362.6  501.6  241.1
 11       41   2.7  25.7   23.3  124.5  148.8  680.0   484.1  473.8  248.6
 12       42   3.0   4.3   18.2   51.0  180.6  990.0   705.3  178.6   60.2
 13       30   2.6   7.5    2.5   87.5  436.0  401.8   714.4  294.9  185.7
 14       44   0.7   6.8   18.1   32.7  164.2  565.3   857.7  402.2  241.0
 15       46  74.5   1.7   47.7   92.4  106.7  852.9   415.0  337.2   48.4
 16       47  42.9   5.0   32.8   51.3  683.0  464.3   167.5  376.0   96.4
 17       48   0.8  30.3  217.2  108.4   81.2  469.9   505.1  349.0  347.0
 18       49   2.9  47.6   79.4   38.1  122.9  703.7   342.7  335.1  470.3
 19       50   2.4   8.1   37.9  113.2  610.9  673.4   385.4  417.9  192.8
 20       51   0.7  50.9   82.1  134.4   91.0  566.7   532.0  350.3   93.6
 21       52   4.7   8.7   35.7  117.3  330.8  503.1   318.7  438.2   99.0
 22       53   1.8  23.8   21.4  111.6  453.2  607.3   700.4  266.3   88.0
 23       54  16.5  28.3    7.0  238.0  238.6  715.3   598.5  361.3  216.8
 24       55  12.7  65.9   51.3  121.1   81.9  590.7   420.6  553.2   75.9
 25       56  43.0   4.7   15.0  171.3  104.1  489.1   639.8  641.9  156.7
 26       57  11.7  57.8   21.5   96.3  124.5  633.8   343.2  566.5  195.8
 27       45   3.3   1.5   62.6   69.0  191.6  438.2   924.9  269.3  326.5
 28       29   0.1   1.5   21.0  134.5   75.8  196.8   641.5  342.6  116.2
 29       43   3.1   5.2   20.7   75.7  198.8  541.7   763.2  247.2  176.9
 30       27   2.7   6.4   19.4  117.2  227.4  550.5   818.8  284.8  216.4
 31       28  12.9  17.6   25.8  132.7  289.1  535.3   558.1  554.8  212.5
 32        1   0.0   0.3   12.3  131.5  119.9  617.0   583.5  487.5   61.3
 33        2   0.3  79.0   53.3  164.5  179.6  681.6   648.6  287.9  223.2
 34        3   0.0  17.8   20.1   66.5  159.0  657.1   776.1  301.9   88.0
 35        4  14.9   4.8   18.0   41.8  488.5  528.6   635.4  370.8  103.3
 36        5   6.4  26.6   61.6   61.6  212.7  498.9   614.1  230.7  155.0
 37        6   4.4   9.9   12.7  104.1   53.4  549.8   704.0  351.8  110.9
 38        7  10.3   0.0   30.1  141.5  169.4  657.5   450.7  285.5  271.1
 39        9   0.6   0.8    4.3   57.2  108.3  572.6   221.0  396.6  157.0
 40       10   5.6  18.7   11.2   63.1  126.7  597.9   324.8  340.3  235.4
 41       11  61.2   6.1   29.3   66.6  254.2  828.7   388.9  315.3  117.6
 42       12   6.6   6.5   41.6  175.9  148.5  774.1   544.6  190.6  313.8
 43       13   5.2  48.2   20.8  112.2  214.6  576.7   430.0  413.6   57.4
 44        8   0.8  17.5   38.1  177.6  157.2  511.3   502.8  379.8  451.7
 45       25   3.0   6.9   67.7  167.4   95.2  496.2   601.9  202.1  293.2
 46       26  14.3   0.1   24.6   70.1  244.9  541.7   741.4  508.4  145.8
 47       14  13.1  22.6   18.5  132.4   55.4  340.5  1027.6  356.4  100.5
 48       24   9.1   0.9   28.3  109.8  214.5  597.7   465.1  296.1  150.1
 49       23   1.1   7.8   67.2   83.3   94.8  379.4   754.2  548.0  398.2
 50       22  30.2  24.8   69.8   96.3  157.1  393.3   720.2  511.0  223.9
 51       20   0.0   0.9   20.8  114.8  105.3  745.9   754.0  438.1  139.5
 52       21   2.4  30.0   11.7   42.0  127.7  582.9   662.2  383.7  211.7
 53       18   0.7   0.1   21.9   60.4  148.2  612.2   511.5  495.0   70.6
 54       17   7.9  11.7   15.1  151.6  351.3  755.4   466.8  319.5  178.4
 55       16  36.8  60.0   95.3  162.1   84.6  842.6   653.6  284.4  171.1
 56       15  10.3   6.5   37.3  134.9  355.6  493.4   702.5  457.3  280.0
 57       19   1.9   6.8    8.9   43.6  173.5  498.5   319.6  531.8  209.5

       oct    nov    dec  annual rainfall  floods
 0   401.9  121.0   19.1           2818.2       0
 1   136.2  116.5   69.1           2320.3       0
 2   403.8  153.0   30.9           2498.2       0
 3   142.1   61.0    3.6           2767.4       0
 4   294.1   89.9   62.5           2610.0       0
 5   225.9  125.4   23.6           2176.6       0
 6   308.1  223.6   79.4           2600.6       0
 7   383.5   74.4    0.2           2741.6       0
 8   251.7  163.1   86.0           2708.0       0
 9   253.3   47.9   11.0           2648.3       0
 10  187.5  112.9    9.4           2151.1       0
 11  356.6  280.4    0.1           2848.6       0
 12  302.3  145.7   87.6           2726.7       0
 13  351.5  140.5  114.3           2739.4       0
 14  374.4  100.9  135.2           2899.1       0
 15  335.9   93.4    4.9           2410.7       0
 16  233.2  295.4   54.1           2501.9       0
 17  343.4   55.4   17.0           2524.5       0
 18  264.1  256.4   41.6           2704.8       0
 19  320.6  120.7    2.7           2886.1       0
 20  407.0   76.4    9.7           2394.9       0
 21  511.7  137.5    2.1           2507.4       0
 22  567.9   68.1    4.9           2914.6       0
 23  319.6  181.0   10.1           2931.1       0
 24  321.5  155.2   52.7           2502.8       0
 25  302.4  136.2   15.8           2719.9       0
 26  214.2   78.1   69.1           2412.6       0
 27  205.2  274.4   44.2           2810.6       0
 28  221.3  286.7   30.8           2068.8       0
 29  422.5  109.9   45.8           2610.8       0
 30  235.6  119.4   66.3           2665.0       0
 31  278.3   80.5    5.7           2703.5       0
 32  260.8   84.5   53.8           2412.5       0
 33  223.7   69.5   22.9           2634.1       0
 34  431.2  153.8   46.2           2717.7       0
 35  323.2  158.8    5.2           2693.1       0
 36  289.0  244.1   89.2           2490.0       0
 37  253.8  259.5   18.0           2432.4       0
 38  308.0   92.9    5.6           2422.7       0
 39  272.1  216.0  131.1           2137.6       0
 40  165.5  194.7    9.5           2093.2       0
 41  204.0   74.9   44.0           2390.5       0
 42  250.6  229.6   23.2           2705.5       0
 43  339.6   49.6   66.9           2334.8       0
 44   68.5   67.0   31.1           2403.5       0
 45  392.3  245.4   50.5           2621.7       0
 46  172.7   74.0   31.1           2569.1       0
 47  410.5   62.2    5.1           2544.9       0
 48  183.7  131.7  155.5           2342.4       0
 49  325.7  191.7   17.8           2869.1       0
 50  282.6   93.4   48.4           2651.1       0
 51  282.3  162.3   39.5           2803.4       0
 52  163.8  261.7   23.3           2503.0       0
 53  164.4  127.5   10.8           2223.3       0
 54  353.3  178.2    9.1           2798.4       0
 55  286.0   67.7   18.0           2762.1       0
 56  198.3  182.6    0.1           2858.8       0
 57  192.4   92.5   38.1           2117.1       0  ,
 1:      level_0   jan   feb    mar    apr    may     jun     jul     aug    sep  \
 58        96   0.1  19.3   28.6  113.0  646.5   341.0   716.4   423.2  317.3
 59        99  28.4  54.7   39.6   95.1  472.4   244.9   951.1   510.7  394.9
 60        98   7.3  30.5   89.2  133.3   90.0   696.4  1308.9   380.7  325.4
 61        97   1.2  16.5  116.0   34.0  466.5   620.8   672.1   367.9  286.7
 62        95   5.2  21.4   63.4  123.8  162.2   864.4   531.3   675.9  457.7
 63        89  54.1  11.8   61.3   93.8  473.2   704.7   782.3   258.0  195.4
 64        93   6.7   2.6   57.3   83.9  134.5   390.9  1205.0   315.8  491.6
 65        92   3.2  18.6    3.1   83.6  249.7   558.6  1022.5   420.2  341.8
 66        91  23.7   3.0   32.2   71.5  235.7  1098.2   725.5   351.8  222.7
 67        90  18.8   4.8   55.7  170.8  101.4   770.9   760.4   981.5  225.0
 68       100  13.7  31.3   11.4   94.1  500.5  1005.2  1146.5   678.3  399.3
 69        94  43.0   6.1   33.9   65.9  247.0   636.8   648.0   484.2  255.9
 70       101   9.4   8.4   44.4  206.6  540.0   480.3   750.9   336.8  371.2
 71       115  13.6   3.6   24.9  172.8  105.1   625.8   749.6   459.9  134.1
 72       103   1.2  16.0   25.7   70.2  381.2   872.0   835.3   358.8   41.3
 73       104   4.2   6.3   28.2  125.9  544.2   782.4   392.8   236.0  438.5
 74       105  23.5   2.8   90.6  136.9  179.5   798.3   640.5   467.0  201.6
 75       106   1.0   9.3   36.9  139.5  738.8   859.3   773.4   479.5  469.7
 76       107   0.1  53.7   31.1   68.5  242.0   638.3   905.7   387.3  411.6
 77       108  43.0   8.3   48.2  125.0  212.3   910.2   619.0   487.9  166.6
 78       109  22.2  27.3   98.0  142.2   85.7   556.1   669.3   739.6  394.5
 79       110   1.8   5.4  108.4  139.8   83.0   919.0   671.7   695.6  199.4
 80       111  83.5  14.6   38.4  107.5  478.4   794.5   831.6   183.3  257.6
 81       112   2.4   4.7   23.2  180.3  191.9   813.6   828.8   329.3   99.8
 82       113  15.9   4.6   12.7  101.9  417.5   797.6   517.9   458.5  257.9
 83       114   0.6   1.5    3.8  126.5  217.4   606.4   877.3   610.8   68.2
 84        88   1.9  15.0   11.2  122.7  217.3   948.2   833.6   534.4  136.8
 85       102   4.4  19.3   57.3  135.1  353.5   713.3   622.7   526.6   86.1
 86        87  16.9  23.5   42.7  106.0  154.5   696.1   775.6   298.8  396.6
 87        58   0.5   5.6    7.3  138.5  192.7   705.9   966.3   489.6  526.7
 88        85  35.2   5.5   24.1  172.0   87.7   964.3   940.8   235.0  178.0
 89       116   0.6   1.8    4.5   98.1  440.0   536.3   758.7   445.2  354.5
 90        59   2.1   1.5   36.1   60.6  133.6   544.2   970.5   536.0  292.2
 91        60   6.0   2.1    8.1   61.1  151.6   732.5   641.4   371.8  517.6
 92        61   4.6  10.3   17.9   95.7  251.0   454.4   677.8   733.9  298.8
 93        62   1.1  15.7   28.3  102.3  306.4   599.6   753.3   234.2  201.3
 94        63  24.3  27.1   18.1  154.5  141.3   845.0   955.5   479.9  212.6
 95        64   3.9  40.1   49.9   49.3  119.3  1042.7   830.2   369.7  318.6
 96        65   3.3  14.7   31.4   73.9  396.8   758.1   686.7   516.8  119.4
 97        66  10.9   4.4   33.2   97.0  113.4  1096.1   905.5   465.5   48.5
 98        67  20.5  45.7   24.1  165.2  124.2   788.5   536.8   492.7  391.2
 99        68   7.0   6.8   28.5   75.9  166.3   912.4   489.8   495.6  376.6
 100       69  18.6   1.0   31.4  138.9  190.6   667.5   629.0   356.0  275.6
 101       70  19.8   7.0   25.3  205.9  134.8   619.2   832.7   291.0  414.7
 102       71   8.1   0.5   90.7   65.3  521.2   482.4   804.0   432.6  474.8
 103       72   2.4   0.9    0.1   43.0  218.4   819.3   767.8   508.0  297.5
 104       73  28.7  44.7   51.6  160.0  174.7   824.6   743.0   357.5  197.7
 105       74   3.0  21.4    6.3  150.7  347.2   872.8  1155.7   397.3  405.5
 106       75  31.6  18.5   20.0  113.0  317.5   889.6   648.6   385.2  331.2
 107       76  10.8  10.8   39.0  102.7  404.9   633.1   401.7   273.4  411.5
 108       77  12.8  29.8   58.9  210.7  148.0   946.6   844.0   293.9  268.9
 109       78  18.8  35.3   49.6   86.5  265.4   720.2   888.2   315.0  335.6
 110       79  28.6   5.8   23.1   55.8  222.6   563.9   885.2   536.0  322.7
 111       80   4.1  16.5   76.9   93.4  258.2   688.8   593.5   554.1  158.8
 112       81  19.3   2.9   66.6  111.0  185.4  1011.7  1526.5   624.0  289.1
 113       82  24.7   0.7   78.9   43.5   80.0   722.5  1008.7   943.0  254.3
 114       83  30.5  21.4   16.3   89.6  293.6   663.1  1025.1   320.6  222.4
 115       84   3.3   0.3   19.2  126.9  131.7   541.7   653.9  1199.2  163.2
 116       86   0.0   7.8   22.0   82.4  199.0   920.2   513.9   396.9  339.3
 117      117  29.1  52.1   48.6  116.4  183.8   625.4  1048.5  1398.9  423.6

        oct    nov    dec  annual rainfall  floods
 58   543.2  223.2   31.3           3403.0       1
 59   475.6   31.5   76.9           3375.8       1
 60   178.9  119.4   32.7           3392.7       1
 61   231.7  211.1   18.6           3043.3       1
 62   368.9  204.3   19.9           3498.4       1
 63   212.1  171.1   32.3           3050.2       1
 64   358.4  158.3  121.5           3326.6       1
 65   354.1  157.0   59.0           3271.2       1
 66   328.1   33.9    3.3           3129.7       1
 67   309.7  219.1   52.8           3671.1       1
 68   274.2   85.9   17.5           4257.8       1
 69   249.2  280.1   53.0           3003.3       1
 70   255.9  358.0   23.7           3385.5       1
 71   339.8  298.1   10.2           2937.5       1
 72   280.1  192.5   28.9           3103.3       1
 73   378.2  178.1   19.8           3134.7       1
 74   303.1   31.6   62.5           2938.0       1
 75   397.0  126.1   42.3           4072.9       1
 76   250.4  149.2    8.8           3146.6       1
 77   183.9  215.6   19.2           3039.2       1
 78   183.7   32.4   47.0           2998.1       1
 79   266.1  273.0  202.3           3565.5       1
 80   427.2  223.4   24.3           3464.2       1
 81   374.4   84.7  117.9           3050.9       1
 82   221.6  220.5   84.6           3111.1       1
 83   257.7  287.5   60.1           3117.8       1
 84   469.5  138.7   22.0           3451.3       1
 85   191.0  206.1    7.7           2923.1       1
 86   196.6  302.5   14.9           3024.5       1
 87   357.2   87.4   11.9           3489.6       1
 88   350.1  302.3    8.2           3303.1       1
 89   229.1   71.9    1.8           2942.6       1
 90   288.9  298.4   88.4           3252.4       1
 91   444.8  135.0   79.4           3151.5       1
 92   355.5   99.5   47.2           3046.4       1
 93   437.0  361.7    6.7           3047.6       1
 94   428.4  117.6    6.5           3410.8       1
 95   259.9  154.9   17.0           3255.4       1
 96   171.0  365.6   39.0           3176.7       1
 97   307.8   99.9    2.3           3184.5       1
 98   227.2  169.7   49.5           3035.1       1
 99   265.0  138.6   43.3           3005.9       1
 100  441.4  335.1   46.8           3131.8       1
 101  240.1  184.3   56.4           3031.1       1
 102  376.4  162.8    1.8           3420.6       1
 103  290.7  287.6    3.7           3239.5       1
 104  266.9  350.8   48.4           3248.6       1
 105  200.4  151.9   34.0           3746.0       1
 106  220.9   38.3   62.3           3076.8       1
 107  433.9  207.0   89.2           3018.0       1
 108  350.4  158.2   39.4           3361.6       1
 109  135.8  137.6    6.8           2994.7       1
 110  216.7   88.8   16.2           2965.4       1
 111  295.4  223.7   98.8           3062.1       1
 112  176.5  162.9   50.4           4226.4       1
 113  203.1   83.9   41.6           3484.7       1
 114  266.3  293.7   25.1           3267.6       1
 115  149.3  164.3  106.5           3259.6       1
 116  320.7  134.3    8.9           2945.3       1
 117  356.1  125.4   65.1           4473.0       1  }

In [47]:
df.dtypes

index                int64
jan                float64
feb                float64
mar                float64
apr                float64
may                float64
jun                float64
jul                float64
aug                float64
sep                float64
oct                float64
nov                float64
dec                float64
annual rainfall    float64
floods               int64
dtype: object

In [48]:
df.columns.shape

(15,)

In [49]:
df.columns

Index(['index', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep',
       'oct', 'nov', 'dec', 'annual rainfall', 'floods'],
      dtype='object')

In [50]:
def summarize(df):
    summaries = []
    for col in df.columns[1:15]:
        summaries.append([np.mean(df[col]),np.std(df[col]),len(df[col])])
    return summaries

In [51]:
summarize(df)

[[12.218644067796609, 15.408059464661102, 118],
 [15.633898305084744, 16.33662424073219, 118],
 [36.67033898305084, 29.936201397678673, 118],
 [110.33050847457626, 44.44392488364959, 118],
 [228.64491525423728, 146.92224081815087, 118],
 [651.6177966101694, 185.39078041515896, 118],
 [698.2203389830509, 228.01660902904734, 118],
 [430.36949152542377, 181.20771839197744, 118],
 [246.20762711864407, 121.3835021856101, 118],
 [293.20762711864404, 93.30735175204366, 118],
 [162.31101694915256, 82.84719013053574, 118],
 [40.00932203389831, 36.52059086553065, 118],
 [2925.405084745762, 450.24935818989957, 118],
 [0.5084745762711864, 0.49992817639839404, 118]]

In [52]:
df.head()

,index,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual rainfall,floods
0,36,6.5,21.2,58.7,175.5,137.1,485.6,970.5,281.2,139.8,401.9,121.0,19.1,2818.2,0
1,72,0.0,0.3,12.3,131.5,119.9,617.0,583.5,487.5,61.3,260.8,84.5,53.8,2412.5,0
2,37,0.3,79.0,53.3,164.5,179.6,681.6,648.6,287.9,223.2,223.7,69.5,22.9,2634.1,0
3,92,0.0,17.8,20.1,66.5,159.0,657.1,776.1,301.9,88.0,431.2,153.8,46.2,2717.7,0
4,89,14.9,4.8,18.0,41.8,488.5,528.6,635.4,370.8,103.3,323.2,158.8,5.2,2693.1,0

In [53]:
df_new = df.loc[:,'jan':'floods']
df_new = df.drop(['annual rainfall','index'],axis=1)

In [54]:
df_new

,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,floods
0,6.5,21.2,58.7,175.5,137.1,485.6,970.5,281.2,139.8,401.9,121.0,19.1,0
1,0.0,0.3,12.3,131.5,119.9,617.0,583.5,487.5,61.3,260.8,84.5,53.8,0
2,0.3,79.0,53.3,164.5,179.6,681.6,648.6,287.9,223.2,223.7,69.5,22.9,0
3,0.0,17.8,20.1,66.5,159.0,657.1,776.1,301.9,88.0,431.2,153.8,46.2,0
4,14.9,4.8,18.0,41.8,488.5,528.6,635.4,370.8,103.3,323.2,158.8,5.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,15.9,4.6,12.7,101.9,417.5,797.6,517.9,458.5,257.9,221.6,220.5,84.6,1
114,0.6,1.5,3.8,126.5,217.4,606.4,877.3,610.8,68.2,257.7,287.5,60.1,1
115,13.6,3.6,24.9,172.8,105.1,625.8,749.6,459.9,134.1,339.8,298.1,10.2,1
116,0.6,1.8,4.5,98.1,440.0,536.3,758.7,445.2,354.5,229.1,71.9,1.8,1
117,29.1,52.1,48.6,116.4,183.8,625.4,1048.5,1398.9,423.6,356.1,125.4,65.1,1

In [55]:
def class_summary(df):
	seps = class_separation(df)
	summaries = {}
	for class_value, rows in seps.items():
		summaries[class_value] = summarize(rows)
	return summaries

In [56]:
summary = class_summary(df_new)

In [57]:
summary[0] = summary[0][:-1]
summary[1] = summary[1][:-1]

In [58]:
summary

{0: [[16.22758620689655, 18.14722162740877, 58],
  [34.029310344827586, 32.39160176714972, 58],
  [108.77586206896552, 47.11800413761187, 58],
  [192.36034482758623, 129.45696654134915, 58],
  [568.1741379310346, 148.4096736324998, 58],
  [595.5344827586207, 197.85849310478937, 58],
  [377.5310344827586, 108.10199080577205, 58],
  [199.73965517241382, 102.8424773700305, 58],
  [287.50517241379316, 93.96865475622396, 58],
  [142.1844827586207, 69.7332103182134, 58],
  [37.991379310344826, 36.142406482874996, 58]],
 1: [[15.059999999999999, 14.347824457619582, 60],
  [39.223333333333336, 27.110467638083186, 60],
  [111.8333333333333, 41.641148185685545, 60],
  [263.71999999999997, 154.10819662388715, 60],
  [732.28, 181.8390339466933, 60],
  [797.4833333333333, 210.6205056230017, 60],
  [481.4466666666667, 219.02901745862098, 60],
  [291.1266666666667, 121.02783958889606, 60],
  [298.72, 92.3294297610464, 60],
  [181.76666666666662, 89.59798112804899, 60],
  [41.96, 36.777385261416654, 60]]}

In [59]:
from math import sqrt
from math import pi
from math import exp
def calculate_probability(x, mean, stdev):
    exponent = exp(-((x-mean)**2 / (2 * stdev**2 )))
    return (1 / (sqrt(2 * pi) * stdev)) * exponent

In [60]:
def calculate_class_probabilities(summaries, row):
    total_rows = sum([summaries[label][0][2] for label in summaries])
    probabilities = dict()
    for class_value, class_summaries in summaries.items():
        probabilities[class_value] = summaries[class_value][0][2]/float(total_rows)
        for i in range(len(class_summaries)):
            mean, stdev, _ = class_summaries[i]
            probabilities[class_value] *= calculate_probability(row[i], mean, stdev)
    return probabilities

In [61]:
probabilities = calculate_class_probabilities(summary, df_new.iloc[58].values.tolist())
print(probabilities)

{0: 9.604481185154036e-41, 1: 1.8653657673243388e-34}

In [62]:
probabilities[0]>probabilities[1]

False

In [63]:
df[df['floods']==1].head()

,index,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual rainfall,floods
58,106,0.5,5.6,7.3,138.5,192.7,705.9,966.3,489.6,526.7,357.2,87.4,11.9,3489.6,1
59,96,2.1,1.5,36.1,60.6,133.6,544.2,970.5,536.0,292.2,288.9,298.4,88.4,3252.4,1
60,97,6.0,2.1,8.1,61.1,151.6,732.5,641.4,371.8,517.6,444.8,135.0,79.4,3151.5,1
61,113,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,1
62,76,1.1,15.7,28.3,102.3,306.4,599.6,753.3,234.2,201.3,437.0,361.7,6.7,3047.6,1

In [64]:
pred = []
for i in range(118):
    ans = calculate_class_probabilities(summary, df_new.iloc[i].values.tolist())
    if(ans[0]>=ans[1]):
        pred.append(0)
    else:
        pred.append(1)
print(pred)

[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [65]:
type(probabilities)

dict

In [66]:
test = df['floods'].values.tolist()

In [67]:
test

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [68]:
from sklearn.metrics import accuracy_score
accuracy_score(test, pred)*100

61.86440677966102