In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/asus/Desktop/ITWorkshop/MainCode/kerala.csv")

In [4]:
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [5]:
df = df.drop(['SUBDIVISION','YEAR'],axis=1)

In [6]:
df.columns = [x.lower() for x in df.columns]

In [7]:
df.rename(columns={' annual rainfall':'annual rainfall'}, inplace=True)

In [8]:
df['floods'] = [1 if x=='YES' else 0 for x in df['floods']]

In [9]:
df = df.sort_values(by='floods').reset_index()

In [10]:
df[df['floods']==1].head()

,index,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual rainfall,floods
58,106,0.5,5.6,7.3,138.5,192.7,705.9,966.3,489.6,526.7,357.2,87.4,11.9,3489.6,1
59,96,2.1,1.5,36.1,60.6,133.6,544.2,970.5,536.0,292.2,288.9,298.4,88.4,3252.4,1
60,97,6.0,2.1,8.1,61.1,151.6,732.5,641.4,371.8,517.6,444.8,135.0,79.4,3151.5,1
61,113,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,1
62,76,1.1,15.7,28.3,102.3,306.4,599.6,753.3,234.2,201.3,437.0,361.7,6.7,3047.6,1

In [11]:
def class_separation(df):
    df=df.sort_values(by='floods').reset_index()
    df_zeros = df.iloc[0:58]
    df_zeros = df_zeros.drop('index',axis=1)
    df_ones = df.iloc[58:]
    df_ones = df_ones.drop('index',axis=1)
    seps = {0:df_zeros, 1:df_ones}
    return seps

In [12]:
seps = class_separation(df)

In [13]:
df.dtypes

index                int64
jan                float64
feb                float64
mar                float64
apr                float64
may                float64
jun                float64
jul                float64
aug                float64
sep                float64
oct                float64
nov                float64
dec                float64
annual rainfall    float64
floods               int64
dtype: object

In [14]:
df.columns.shape

(15,)

In [15]:
def summarize(df):
    summaries = []
    for col in df.columns[1:15]:
        summaries.append([np.mean(df[col]),np.std(df[col]),len(df[col])])
    return summaries

In [16]:
summarize(df)

[[12.218644067796609, 15.408059464661102, 118],
 [15.633898305084744, 16.33662424073219, 118],
 [36.67033898305084, 29.936201397678673, 118],
 [110.33050847457626, 44.44392488364959, 118],
 [228.64491525423728, 146.92224081815087, 118],
 [651.6177966101694, 185.39078041515896, 118],
 [698.2203389830509, 228.01660902904734, 118],
 [430.36949152542377, 181.20771839197744, 118],
 [246.20762711864407, 121.3835021856101, 118],
 [293.20762711864404, 93.30735175204366, 118],
 [162.31101694915256, 82.84719013053574, 118],
 [40.00932203389831, 36.52059086553065, 118],
 [2925.405084745762, 450.24935818989957, 118],
 [0.5084745762711864, 0.49992817639839404, 118]]

In [17]:
def class_summary(df):
	seps = class_separation(df)
	summaries = {}
	for class_value, rows in seps.items():
		summaries[class_value] = summarize(rows)
	return summaries

In [18]:
summary = class_summary(df)

In [19]:
summary[0] = summary[0][:-1]
summary[1] = summary[1][:-1]

In [20]:
summary

{0: [[9.941379310344827, 14.947783072655225, 58],
  [16.22758620689655, 18.14722162740877, 58],
  [34.029310344827586, 32.39160176714972, 58],
  [108.77586206896552, 47.11800413761187, 58],
  [192.36034482758623, 129.45696654134915, 58],
  [568.1741379310346, 148.4096736324998, 58],
  [595.5344827586207, 197.85849310478937, 58],
  [377.5310344827586, 108.10199080577205, 58],
  [199.73965517241382, 102.8424773700305, 58],
  [287.50517241379316, 93.96865475622396, 58],
  [142.1844827586207, 69.7332103182134, 58],
  [37.991379310344826, 36.142406482874996, 58],
  [2569.9327586206896, 226.92298054469177, 58]],
 1: [[14.419999999999998, 15.525965348409096, 60],
  [15.059999999999999, 14.347824457619582, 60],
  [39.223333333333336, 27.110467638083186, 60],
  [111.8333333333333, 41.641148185685545, 60],
  [263.71999999999997, 154.10819662388715, 60],
  [732.28, 181.8390339466933, 60],
  [797.4833333333333, 210.6205056230017, 60],
  [481.4466666666667, 219.02901745862098, 60],
  [291.1266666666667, 121.02783958889606, 60],
  [298.72, 92.3294297610464, 60],
  [181.76666666666662, 89.59798112804899, 60],
  [41.96, 36.777385261416654, 60],
  [3269.0283333333336, 329.67927247132513, 60]]}

In [21]:
from math import sqrt
from math import pi
from math import exp
def calculate_probability(x, mean, stdev):
    exponent = exp(-((x-mean)**2 / (2 * stdev**2 )))
    return (1 / (sqrt(2 * pi) * stdev)) * exponent

In [46]:
def calculate_class_probabilities(summaries, row):
    total_rows = sum([summaries[label][0][2] for label in summaries])
    probabilities = dict()
    for class_value, class_summaries in summaries.items():
        probabilities[class_value] = summaries[class_value][0][2]/float(total_rows)
        for i in range(len(class_summaries)):
            mean, stdev, _ = class_summaries[i]
            probabilities[class_value] *= calculate_probability(row[i], mean, stdev)
    return probabilities

In [47]:
probabilities = calculate_class_probabilities(summary, df.iloc[0].values.tolist())
print(probabilities)

{0: 6.656778225423647e-72, 1: 9.099746446576041e-60}

In [24]:
df[df['floods']==1].head()

,index,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,annual rainfall,floods
58,106,0.5,5.6,7.3,138.5,192.7,705.9,966.3,489.6,526.7,357.2,87.4,11.9,3489.6,1
59,96,2.1,1.5,36.1,60.6,133.6,544.2,970.5,536.0,292.2,288.9,298.4,88.4,3252.4,1
60,97,6.0,2.1,8.1,61.1,151.6,732.5,641.4,371.8,517.6,444.8,135.0,79.4,3151.5,1
61,113,4.6,10.3,17.9,95.7,251.0,454.4,677.8,733.9,298.8,355.5,99.5,47.2,3046.4,1
62,76,1.1,15.7,28.3,102.3,306.4,599.6,753.3,234.2,201.3,437.0,361.7,6.7,3047.6,1

In [49]:
pred = []
for i in range(118):
    ans = calculate_class_probabilities(summary, df.iloc[i].values.tolist())
    if(ans[0]>=ans[1]):
        pred.append(0)
    else:
        pred.append(1)
print(pred)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [42]:
type(probabilities)

dict

In [50]:
test = df['floods'].values.tolist()

In [51]:
test

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [52]:
from sklearn.metrics import accuracy_score
accuracy_score(test, pred)

0.5084745762711864